{% extends "base.html" %}

{% load i18n %}

{% load staticfiles %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

  {{ block.super }}

{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Dashboard</h3>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="row">
	  
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">            

            <div class="x_content">

              home principal


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}

  {{ block.super}}  

{% endblock javascripts %}