{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Reset Done {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div>
    <div class="login_wrapper">
      <div class="form login_form">
        <section class="login_content">
          
            
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Senhas informadas não são iguais
            </div>  
            
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <h1>Alterar Senha</h1>

                <div style="text-align:left">
                <h4><i class="fa fa-warning"></i> Atenção!</h4> 
                <p><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Sua senha não pode ser muito parecida com suas outras informações pessoais.</p>
                <p><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Sua senha deve conter pelo menos 8 caracteres.</p>
                <p><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Sua senha não pode ser uma senha normalmente usada.</p>
                <p><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Sua senha não pode ser totalmente numérica.</p>
                </div>

                <div>
                  <input type="password" name="new_password1" class="form-control" placeholder="Nova Senha" required/>
                </div>
                <div>
                  <input type="password" name="new_password2" class="form-control" placeholder="Repita a nova senha" required/>
                </div>
                <div>
                  <button class="btn btn-default submit" type="submit">ALTERAR</button>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
    
                  <div>
                    <h1><img src="{% static 'images/logo.png' %}"></h1>
                    <p>©2018 Todos os Direitos Reservados.</p>
                  </div>
                </div>

              </form>
        </section>
      </div>

    </div>
  </div>
{% endblock body %}

